#herois{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img {
    width: 300px;
    border-bottom-style: solid;
    border-top-left-radius: 16px;
    border-top-left-radius: 16px;
}

.personagem {
    width: 300px;
    margin: 20px;
    border-style: solid;
    border-radius: 16px;
    text-align: center;
}

.popup{
    background-color: red;
    color: white;
    position: fixed;
    border-style: solid;
    border-color: black;
    border-radius: 16px;
    width: 300px;
    padding: 15px;
}

.botaoDesc{
    margin-top: 20px;
    width: 80px;
    height: 50px;
    position: center;
    background-color: #da413b;
    box-shadow: 2px 2px 5px #474747;
    border: 1px solid #942a26;
    border-radius: 4px;
    color: #bbbbbb;
    text-transform: uppercase;
    transition-duration: 0.5s;
    cursor: pointer;
}