#herois{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img {
    width: 300px;
    border-bottom-style: solid;
    border-top-left-radius: 16px;
    border-top-left-radius: 16px;
}

.personagem {
    width: 300px;
    margin: 20px;
    border-style: solid;
    border-radius: 16px;
    text-align: center;
}

.popup{
    background-color: red;
    color: white;
    position: fixed;
    border-style: solid;
    border-color: black;
    border-radius: 16px;
    width: 300px;
    padding: 15px;
}

.botaoDesc